# lambda functions

Syntax:
<br> lambda \<params\> : function body

In [1]:
# Normal Function
def square(num): return num*num
print(square(5))

25

In [4]:
square2 = lambda num: num*num
print(square2(5))

25

## map function

- A standard function that takes two args
- - Iterable 
- - function

- Apllies function for each element in iterable and returns a map object

- map object is iterable and convertable  (only once)

In [8]:
num_list = [10,20,30,40,50]

doubles = map(lambda num : num*2, num_list)
print(type(doubles))

for n in doubles:
    print(n,end=" ")

doubles_list = list(doubles)
print(doubles_list)
print(doubles)

<class 'map'>
20 40 60 80 100 []
<map object at 0x0591EC40>

In [9]:
# dictionaries

people = [{'name':'Sunil', 'age':29},
          {'name':'Rahul', 'age':28},
          {'name':'Solo', 'age':27}]

In [11]:
names = list(map(lambda d : d['name'], people))
print(names)

['Sunil', 'Rahul', 'Solo']

In [12]:
print([n['name'] for n in people ])

['Sunil', 'Rahul', 'Solo']

## filter() function

- accespts two args , a boolean function and an iterable
- appllies function to each element in list and filters based on boolean function expression
- return filter object 
- filter object contains only those value return true to the lambda

In [15]:
# even nums

even_nums = list(filter(lambda n : n%2==0, range(1,11)))
print(even_nums)

[2, 4, 6, 8, 10]

In [18]:
# find names start with A

names = ["Arjun","Sunil","Akash"]

a_names = list(filter(lambda n : n[0]=='A', names))
print(a_names)

['Arjun', 'Akash']

In [28]:
# find inactive twiiter users
tweets = [{'user':'sunil','tweet':['ok']},
         {'user':'rahul','tweet':[]},
         {'user':'akash','tweet':[]},
         {'user':'akshay','tweet':[]},
         {'user':'yogesh','tweet':['Hi Gm','What a win','down']}]

print(list
      (map(lambda u:u['user'],
           filter(lambda t : not t['tweet'], tweets))))


# way 2
[t['user'] for t in tweets if not t['tweet']]

['rahul', 'akash', 'akshay']

['rahul', 'akash', 'akshay']

## Built In Functions

- all(iterable) : returns true if all elements in iterable are truthy

In [31]:
# check if all names start with s

names = ['Sunil','Solo','Sam']
print([n[0]=='S' for n in names])
print(all(n[0]=='S' for n in names))

names.append('Jack')
print([n[0]=='S' for n in names])
print(all([n[0]=='S' for n in names]))

[True, True, True]
True
[True, True, True, False]
False

- any(iterable) : returns true if any elements in iterable are truthy

In [33]:
names = ['Sunil','Solo','Sam']
print([n[0]=='S' for n in names])
print(any(n[0]=='S' for n in names))

names.append('Jack')
print([n[0]=='S' for n in names])
print(any([n[0]=='S' for n in names]))

[True, True, True]
True
[True, True, True, False]
True

###### Generator Expressions

- generator expressions are very similar to list comprehensions
- use generator expressions  when u want to iterate once else use list comprehensions
- generator expressions are very light weight

In [47]:
names = ['Sunil','Solo','Sam']

# list comprehension
print([name[0]=='S' for name in names])
print(all([name[0]=='S' for name in names]))

# generator syntax

print(name[0]=='S' for name in names)
print(all(name[0]=='S' for name in names))

import sys

print(f"generator size {sys.getsizeof(name*10 for name in range(1,1000))}")
print(f"list size {sys.getsizeof([name*10 for name in range(1,1000)])}")

[True, True, True]
True
<generator object <genexpr> at 0x00CCF098>
True
generator size 56
list size 4508

##### sorted(itr)

- returns sorted iterable
- dont change original itr

- Syntax:
<br> sorted(iterable, key, reverse=True/False)

In [50]:
# list

nums = [1,3,2,5,4]
print(nums)
print(sorted(nums))
print(sorted(nums, reverse = True))

[1, 3, 2, 5, 4]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [53]:
# dict
tweets = [{'user':'sunil','tweet':['ok'],'age':29},
         {'user':'rahul','tweet':[]},
         {'user':'akash','tweet':[]},
         {'user':'akshay','tweet':[]},
         {'user':'yogesh','tweet':['Hi Gm','What a win','down']}]

# sort by dict len

print(sorted(tweets, key=len))

[{'user': 'rahul', 'tweet': []}, {'user': 'akash', 'tweet': []}, {'user': 'akshay', 'tweet': []}, {'user': 'yogesh', 'tweet': ['Hi Gm', 'What a win', 'down']}, {'user': 'sunil', 'tweet': ['ok'], 'age': 29}]

In [57]:
# sort by username in reverse order

print(sorted(tweets, key = lambda t : t['user'], reverse=True))

[{'user': 'yogesh', 'tweet': ['Hi Gm', 'What a win', 'down']}, {'user': 'sunil', 'tweet': ['ok'], 'age': 29}, {'user': 'rahul', 'tweet': []}, {'user': 'akshay', 'tweet': []}, {'user': 'akash', 'tweet': []}]

In [58]:
# sort by no of tweets

print(
sorted(tweets, key=lambda t:len(t['tweet'])))

[{'user': 'rahul', 'tweet': []}, {'user': 'akash', 'tweet': []}, {'user': 'akshay', 'tweet': []}, {'user': 'sunil', 'tweet': ['ok'], 'age': 29}, {'user': 'yogesh', 'tweet': ['Hi Gm', 'What a win', 'down']}]

## max and min

- min/max(itr/str, key)

In [62]:
# str

print(max('sunil'))
print(min('sunil'))

u
i

In [68]:
# list

print(min([1,3,4]))
print(max([1,3,4]))

1
4

In [69]:
# tuple

print(min((1,4,7)))
print(max((1,4,7)))

1
7

In [81]:
# list of strings
names = ['arjun','akash','sunils','Tim']
print(min(names))
print(max(names))

# 
print(min(names, key= lambda k:len(k)))
print(max(names, key= lambda k:len(k)))

# print min and max len of names

print(min(len(n) for n in names))
print(max(len(n) for n in names))

Tim
sunils
Tim
sunils
3
6

In [82]:
#dict

songs = [{"song":"bin tere","playcount":10},
        {"song":"achko machko","playcount":100},
        {"song":"kalank","playcount":110},
        {"song":"znmd","playcount":10}]

In [89]:
# print least played song

print(
    min(songs, key=lambda s: s['playcount'])
)

print(
    min(songs, key=lambda s: s['playcount'])['song']
)

{'song': 'bin tere', 'playcount': 10}
bin tere

In [91]:
# print most played song

print(
    max(songs, key=lambda s:s['playcount'])
)

print(
    max(songs, key=lambda s:s['playcount'])['song']
)

{'song': 'kalank', 'playcount': 110}
kalank

#### reversed (itr)

- returns reverse iterator

In [95]:
nums = [1,2,3,4,5]

print(reversed(nums))

print(list(reversed(nums)))

for i in reversed(range(0,10)):
    print(i, end=(" "))

<list_reverseiterator object at 0x00CB6538>
[5, 4, 3, 2, 1]
9 8 7 6 5 4 3 2 1 0

#### len(itr)
- return length

In [98]:
print(len('sunil'))

print(len('s'))

5
1

#### abs(int/float)

- negative value to positive

In [100]:
print(abs(5))
print(abs(-5))
print(abs(5.10))
print(abs(-5.20))

5
5
5.1
5.2

#### sum(itr, start)

- returns start + sum of itr elements
- default start value is zero(0)

In [1]:
print(sum([1,2,3]))

print(sum([1,2,3],10))

print(sum([]))

6
16
0

#### round(num, precision)

In [104]:
print(round(3.5123))

print(round(3.5123,2))

4
3.51

In [105]:
# exercise

def sum_even_values(*args):
    if all(n for n in args if n%2==0):
        return sum([n for n in args if n%2 == 0])
    else:
        return 0

#### zip()

- combines elements from two iterators as index to index element pairing/mapping

In [3]:
first_zip = zip([1,2,3],["one","two","three"])

print(list(first_zip))
for i in first_zip:
    print(i)

[(1, 'one'), (2, 'two'), (3, 'three')]

In [109]:
print(list(first_zip))

[]

In [110]:
first_zip = zip([1,2,3],["one","two","three"])
print(list(first_zip))
print(dict(first_zip))

[(1, 'one'), (2, 'two'), (3, 'three')]
{}

In [111]:
first_zip = zip([1,2,3],["one","two","three"])
print(dict(first_zip))

{1: 'one', 2: 'two', 3: 'three'}

In [113]:
first_zip = zip([1,2,3],["one","two","three"])
lists = list(first_zip)
print(dict(lists))

{1: 'one', 2: 'two', 3: 'three'}

In [122]:
first_zip = zip([1,2,3,4],["one","two","three"],['a','b','c'])
lists = list(first_zip)
print(lists)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

- Unpacking

In [121]:
# some complex example

listt_tuples = [(0,1),(1,2),(2,3),(3,4),(4,5)]

print(
    list(zip(*listt_tuples)) # zip((0,1),(1,2),(2,3),(3,4),(4,5))
)

[(0, 1, 2, 3, 4), (1, 2, 3, 4, 5)]

In [137]:
midterms = [80,90,70,50]
finals = [95,84,87,34]
students = ['sunil','rohit','solo','john']

# get students higest marks

max_marks_list = dict(zip(students,[max(m) for m in (zip(midterms,finals))]))
print(max_marks_list)

#way2 - dict comprehensions
max_marks_students = {tup[0]:max(tup[1],tup[2]) for tup in zip(students, midterms, finals)}
print(max_marks_students)

#way3 - lambda and map

max_marks_student = map(lambda t : (t[0],max(t[1],t[2])),zip(students,midterms,finals))
print(dict(max_marks_student))

{'sunil': 95, 'rohit': 90, 'solo': 87, 'john': 50}
{'sunil': 95, 'rohit': 90, 'solo': 87, 'john': 50}
{'sunil': 95, 'rohit': 90, 'solo': 87, 'john': 50}

In [142]:
result =  dict(
zip(
    students,
    map(
    lambda t :(t[0]+t[1])/2, 
    zip(midterms, finals)
    )
    )
)

print(f"avg marks: {result}")

avg marks: {'sunil': 87.5, 'rohit': 87.0, 'solo': 78.5, 'john': 42.0}

### Exercise

In [149]:
print(list(zip('abc','xyz')))

[('a', 'x'), ('b', 'y'), ('c', 'z')]

In [147]:
def interleave(str1,str2):
    print("".join(
        map(lambda t : "".join(t),
        zip(str1,str2)
    )))
    return

interleave('xyz','abc')

xaybzc

In [157]:

def triple_and_filter(nums):
    return list(i*3 for i in filter(lambda n : n%4 == 0,nums))

print(triple_and_filter([1,2,3,4]))

[12]

In [158]:
def extract_full_name(dict_list):
    return [ f"{kv['first']} {kv['last']}" for kv in dict_list]
    

print(extract_full_name([{'first': 'Elie', 'last': 'Schoppik'}, {'first': 'Colt', 'last': 'Steele'}]))

['Elie Schoppik', 'Colt Steele']