# Tuple

- list of elemnets just like list
- tuples are immutable
- tuples are faster than list

In [41]:
months = ("jan", "feb", "mar", "apr", "may", "jun")

print(months[1])
print(months[-1])

feb
jun

In [42]:
for i in months:
    print(i)

jan
feb
mar
apr
may
jun

In [27]:
months2 = months
print(months==months2)
print(months is months2)

True
True

In [6]:
locations = {
    (35.455, 39.987):"Mumbai",
    (33.345, 34.676):"New Delhi"
}

print(locations)

{(35.455, 39.987): 'Mumbai', (33.345, 34.676): 'New Delhi'}

In [28]:
tuplelist = list(months)
print(tuplelist)

['jan', 'feb', 'mar', 'apr', 'may', 'jun']

# Sets

- Contains unique values
- Sets are not ordered

In [10]:
s = set({1,2,4,5,5})
print(s)

{1, 2, 4, 5}

In [20]:
s2 = {1,2,3,4,5,5}
print(s2)

{1, 2, 3, 4, 5}

In [15]:
4 in s2

True

In [17]:
's' in s2

False

In [19]:
print(s2)

{1, 2, 3, 4, 5}

In [21]:
sets = set({1,2,4,5,5})
for s in sets:
    print(s)

1
2
4
5

### Set Methods

- add() : adds element to set
- remove() : removes element, throws error if element not present
- discard() : removes element, but do not throws error if element not present
- copy() : makes copy of set
- clear() : clears sets

In [25]:
new_set = {"Mumbai","Delhi"}
print(new_set)

new_set.add("Pune")
print(new_set)

new_set.remove("Delhi")
print(new_set)

{'Delhi', 'Mumbai'}
{'Pune', 'Delhi', 'Mumbai'}
{'Pune', 'Mumbai'}

In [29]:
new_set.remove("Delhi")

KeyError: 'Delhi'

In [34]:
new_set.discard("Delhi")

In [35]:
new_set2 = new_set.copy()
print(new_set2)
print(new_set is new_set2)

{'Pune', 'Mumbai'}
False

### Sets Math

- intersection (&)
- symmetric_difference (-)
- union (|)

In [40]:
math_students = {"Sunil","Akshay","Shailesh","Pravin"}
biology_students = {"Sunil","John","Alex","Pravin"}

# find all students for maths and biology

both_students = math_students | biology_students
print(both_students)


# find students who chose both subjects
both_students = math_students & biology_students
print(both_students)

# find students selected maths but not biology

both_students = math_students - biology_students
print(both_students)

{'Shailesh', 'Sunil', 'Alex', 'John', 'Akshay', 'Pravin'}
{'Sunil', 'Pravin'}
{'Akshay', 'Shailesh'}

In [45]:
# 1 - Create a variable called numbers which is a tuple with the the values 1, 2, 3 and 4 inside.
numbers = (1,2)

# 2 - Create a variable called value which is a tuple with the the value 1 inside.
value = (1,)

# 3 - Given the following variable:

values = [10,20,30]

# Create a variable called static_values which is the result of the values variable converted to a tuple
static_values = tuple(values)

# 4 - Given the following variable

stuff = [1,3,1,5,2,5,1,2,5]

# Create a variable called unique_stuff which is a set of only the unique values in the stuff list
unique_stuff = set(stuff)


print(numbers)
print(value)
print(static_values)
print(unique_stuff)

(1, 2)
(1,)
(10, 20, 30)
{1, 2, 3, 5}

### Set Comprehension

In [46]:
math_students = {"Sunil","Akshay","Shailesh","Pravin"}

# student names in lower case
print({name.lower() for name in math_students})

{'pravin', 'shailesh', 'sunil', 'akshay'}

In [47]:
print({name:name.lower() for name in math_students})

{'Akshay': 'akshay', 'Shailesh': 'shailesh', 'Sunil': 'sunil', 'Pravin': 'pravin'}

In [51]:
string = "sequoia"#"sunil"
print({char for char in string if char in 'aeiou'})
if len({char for char in string if char in 'aeiou'}) == 5:
    print("True")
else:
    print(False)

{'u', 'i', 'a', 'o', 'e'}
True

In [55]:
a = {1,2,3,4}
print(a)
type(a)

b = {i*i for i in a}
print(b)

{1, 2, 3, 4}
{16, 1, 4, 9}

In [ ]:

{}